@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap');

body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
  background-color: #000;
}

header {
  background-color: #ec4c8a;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation-icons {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.total-world {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fd5294;
}

.world-map-img {
  width: 45%;
  padding: 10% 0 10% 1%;
}

.total-world-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
}

.country-text {
  font-weight: bold;
  font-size: small;
  margin: 0;
}

.text-views {
  font-size: x-small;
  margin: 0;
}

.recipes-country {
  background-color: #df4682;
  padding: 2%;
  font-size: x-small;
}

.countries-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.country-container {
  display: flex;
  flex-direction: column;
  text-align: end;
  width: 44%;
  padding: 3%;
  background-color: #cc4074;
}

.country-container:nth-child(25),
.country-container:nth-child(24),
.country-container:nth-child(21),
.country-container:nth-child(20),
.country-container:nth-child(17),
.country-container:nth-child(16),
.country-container:nth-child(13),
.country-container:nth-child(12),
.country-container:nth-child(9),
.country-container:nth-child(8),
.country-container:nth-child(5),
.country-container:nth-child(4),
.country-container:nth-child(1) {
  background-color: #db4781;
}

.show-icon {
  border: none;
  align-self: flex-end;
  background-color: transparent;
  margin-left: 15%;
  cursor: pointer;
}

.list-recipes {
  margin: 0;
  padding: 0;
}

.recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cc4074;
  padding: 5%;
}

.recipe-container:nth-child(even) {
  background-color: #db4781;
}

.recipe-list-container-views {
  display: flex;
  align-items: center;
}

.recipe-views {
  margin-right: 10%;
}

.name-country {
  font-weight: bold;
  font-size: large;
  margin: 0;
}

.total-country {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #cc4074;
}

.total-country-second-background {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #db4781;
}

form {
  display: flex;
  align-items: center;
  margin-top: 5%;
}

input {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 3%;
  font-size: xx-small;
}
